html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
body {
    color: #777777;
    background-image: url(../images/white-waves.png);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    width: 207px;
    margin-top: 20px;
}

h2 {
    border-bottom: 1px solid #ccc;
    float: left;
    width: 100%;
    padding-bottom: 3px;
    color: #4aaaa5
}
.header {
    background-color: #ffffff;
    border-bottom: 5px solid #cccccc;
    height: 56px;
    margin-top: 0;
    width: 100%;
}
.topnav {
    float: right;
    padding: 10px;
}
li {
    display: inline;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#me, .p1 {
    float: left;
}
#me {
    margin-bottom: 20px;
    margin-right: 20px;
}
.footer {
    text-align: center;
    background-color: #666666;
    padding-top: 15px;
    border-top: 8px solid #4aaaa5;
}
.footer, .push {
    height: 50px;
}
.container {
    width: 960px;
    height: auto;
    border: 1px solid #666666;
    overflow: auto;
    align-content: center;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
}
.wrapper {
    width: 960px;
    align-content: center;
}
